$heading:#25a8a4 ;
$wrap-text: 'Merriweather';

//----------Navbar Styling---------
.navbar{
  height:80px;
}

.navbar-nav{
  margin-right:20px ;
}

.nav-item{
  text-align: right;
  padding-right:10px;
  background-color: rgba(150, 8, 36,0.2);
}

.nav-link{
  color:white;
  font-weight: bold;
  font-size: 16px;
  font-family: $wrap-text;
}

.nav-link:hover{
  color:#F2AF29;
}

.navbar-trans{
  background-color: rgba(150, 8, 36,0.85);
}

.navbar-brand{
  @extend .nav-link;
  font-size: 32px;
  margin-left: 10px;
  margin-right:0;
}

.dropdown .dropdown-menu{
    background-color: rgba(150, 8, 36,0.2);
    border-radius:12px;
}

.dropdown .dropdown-menu .dropdown-item{
  color:white;
  font-size: 14px;
  font-weight: bold;
  font-family: $wrap-text;
}

.dropdown .dropdown-menu .dropdown-item:hover{
  background-color: #F2AF29;
  color:black;
}

#ham{
  height:47px;
}

/*------------Laptop Size Screen----------*/

@media screen and (min-width:500px){
#head{
  background-image: url('CSS - My Site Images/uni.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(17, 18, 17, 0.57);
  background-blend-mode: hue;
  height:550px;
}
#title{
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 3.8em;
  margin:140px auto auto auto;
}

#body1{
  text-align: center;
}

#medal{
  height:160px;
  margin: 80px auto auto;
}

#intro{
  margin:30px 370px 50px;
  text-align:justify;
  font-family: 'Merriweather';
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}


}

/*---------Mobile Responsive----------*/

@media screen and (max-width:499px){
  #head{
    background-image: url('CSS - My Site Images/universities.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(17, 18, 17, 0.57);
    background-blend-mode: hue;
    height:500px;
  }

#title{
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin:140px auto auto auto;
}

#body1{
  text-align: center;
}

#medal{
  height:130px;
  margin: 80px auto auto;
}

#intro{
  margin:30px 30px 50px;
  text-align:justify;
  font-family: 'Merriweather';
  font-size: 12px;
  line-height: 23px;
  font-weight: 700;
}
}
