$heading:#25a8a4 ;
$body2-text:#04544d;
$body2:#8ae3da;
$wrap-text: 'Merriweather';

%body_font{
  font-family: 'Baloo 2', cursive;
}

body{
  margin:0;
}

a{
  color:#0a143d;
}

.navbar{
  height:80px;
}

.navbar-nav{
  margin-right:130px ;
}
.nav-item{
  margin-left: 15px;
}
.nav-link{
  color:#228cb3;
  font-weight: bold;
  font-size: 16px;
  font-family: $wrap-text;
}

.nav-link:hover{
  color:$heading;
}

.navbar-trans{
  background-color: rgba(113, 193, 217,0.1);
}

.navbar-brand{
  @extend .nav-link;
  color:#228cb3;
  font-size: 30px;
  margin-left: 100px;
  margin-right:0;
}

/*.navbar-toggler .navbar-toggler-icon{
  background-color: white;
}*/

.my-hr{
  margin-top:30px;
  text-align: center;
  width:50px;
  color:darkgray;
  border-top: dotted;
  border-top-width: 6px;
}

#main-body1{
  text-align: center;
}

#main-body2{
  background-color: $body2;
  margin: 100px 200px auto 200px;
  text-align: center;
  border:solid;
  border-color: $body2;
  border-radius: 40px;

}

#main-body3{
  margin-top:100px;
  padding-left: 20px;

}

#head{
  background-image: url('CSS - My Site Images/landscape.jpg');
  background-size:cover;
  text-align: center;
  height:650px;
}

#title{
  font-family: 'Sacramento', cursive;
  color:$heading;
  font-size: 72px;
  font-weight:bold;
  word-spacing: 20px;
  margin: 70px auto 0px auto;

}
#sub-title{
  color:#0F514F;
  font-family: $wrap-text;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  word-spacing: 3px;
}

.mountain{
  margin-top: 100px;
  height: 400px;
  width:600px;
  margin-bottom: 10px;
}

.me{
  margin-top: 50px;
  height:180px;
}

.greeting{
  margin-top:30px;
  margin-bottom: 0;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color:$heading;
}

.intro{
  margin:20px 150px 20px;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  line-height: 30px;
  font-weight:bold;
}

#facts{
  text-align: center;
  margin-top: 100px;
}
#factbox{
  display:inline-block;
  text-align: center;
  padding:20px;
  width:630px;
  border:solid;
  border-radius: 25px;
  border-color:gray;
  background-color: #85edad;
  box-shadow: 15px 20px 8px 2px #888888;
}

#oppa_facts{
  float:left;
  height: 180px;
  margin: -20px auto auto 20px;
}

#oppa_facts_text{
  font-family: roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color:#000;
  position: relative;
  right:70px;
  margin: 50px -40px auto 100px;
}

#location-logo{
  height:90px;
  float:left;
  margin: 100px auto auto -190px;
}

#location-text{
  font-family: $wrap-text;
  font-size: 28px;
  margin: 130px auto auto 100px;
}

#xav-logo{
  float:left;
  height:120px;
  margin:50px 15px auto 20px;
}

#xav-text{
  font-family: $wrap-text;
  font-size: 28px;
  margin:110px 20px auto auto;
}

#smit-logo{
  float:left;
  height:137px;
  margin:110px auto auto -125px;
}

#smit-text{
  font-family: $wrap-text;
  font-size: 27px;
  position: relative;
  right:20px;
  margin:160px -50px 45px auto;
  line-height: 50px;
}

#skill{
  color:#25a8a4;
  font-size: 40px;
  font-family: roboto, sans-serif;
  font-weight: bold;
  text-align:center;
  margin-bottom: 0px;
  margin-top:100px;
}

#developer{
  height:135px;
  float:left;
  margin:20px 20px auto 270px;
}
#developer-text{
  margin:auto 370px 60px 425px ;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
}

#oppa_red{
  height:170px;
  float:right;
  margin:-170px 160px auto auto;
}

#tech{
  height:140px;
  margin: auto 280px auto auto;
  float:right;
}

#tech-text{
  @extend #developer-text;
  margin:0px 420px 60px 360px;
}

#oppa_smile{
  height:175px;
  float:left;
  margin:-120px auto auto 100px;
}

#nontech{
  height:170px;
  float:left;
  margin:20px auto auto -38px;
}

#nontech-text{
  @extend #developer-text;
  margin:100px 360px 105px 425px;
}

#extra{
  height:135px;
  float:right;
  margin:20px 275px auto 8px;
}

#extra-text{
  @extend #tech-text;
  margin-right: 400;
}

#oppa_red2{
  @extend #oppa_red;
  margin: -170px 155px auto auto;
}

#end-head{
  @extend #skill;
  font-weight: bold;
}

#end-para{
  color:$heading;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: bold;
  line-height:24px;
}

#social{
  text-align: center;
  margin-top: 50px;
}
#linkedin{
  height:60px;
}

#gmail{
  height:60px;
  margin-left:30px;
}

#git{
  @extend #gmail;
}

#footer{
  margin-top:60px;
  background-color:#25a8a4;
  text-align:center;
  height:90px;
  padding-top:30px;
  padding-bottom: 0px;
}

#email{
  text-decoration:underline;color:#04544d;font-family: 'Merriweather', serif;
  font-size: 17px;
}

#copyright{
  font-family:'Merriweather', serif ;
  font-size:12px;
  color:white;
}
