$dark-text:#126b58 ;
$wrap-text: 'Merriweather';
$back:#1eb3ae;
$header-color:#9bc1cf;
a{
  color:$dark-text;
}

a:hover{
  color:#0d72a8;
}
//----------Navbar Styling---------

.navbar{
  height:60px;
  background-color: white;
}

.nav-item{
  text-align: right;
}



.dropdown .dropdown-menu{
    background-color: $back;
    border-radius:12px;
}

.dropdown .dropdown-menu .dropdown-item{
  color:$dark-text;
  font-size: 14px;
  font-weight: bold;
  font-family: $wrap-text;
}

.dropdown .dropdown-menu .dropdown-item:hover{
  background-color: $dark-text;
  color:white;
}

//hamburger button

#ham{
  height:47px;
}

// head layout styles

#head{
  background-color: $header-color;
  height:500px;
}

.container-fluid{
  padding-top: 20px;
}

#row{
  padding-top:50px;
}

//Cartoon-pic head Styling

#cartoon{
  height:420px;
}

#cartoon-col{
  padding-top: 80px;
  padding-left: 78px;
}

// iPhone designing

#iphone{
  height:500px;
  position:absolute;
  transform: rotate(-12deg);
}

#iphone-col{
  padding-left: 130px;
  padding-top:20px;
}

// Carousel Section

.carousel-item{
  text-align: center;
  background-color: $back;
}

#slideshow{
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: center;
}

#mchgn{
  height:100px;
}

#google{
  height:55px;
  margin-right: 20px;
}

#intern{
  height:70px;
  margin-right:10px;
}


/*------------Laptop Size Screen----------*/

@media screen and (min-width:500px){

  .nav-link, .navbar-brand{
    color:$dark-text;
    font-size: 16px;
    font-family: $wrap-text;
    font-weight: bold;
  }

  .nav-link:hover{
    color:$back;
  }

  .navbar-brand{
    font-size: 22px;
  }

  // head texts designing

  h5{
    font-size: 17px;
    font-family: 'Merriweather';
    margin-top:30px;
    color:white;
  }

  #cartoon-phone{
    display:none;
  }

  #phone-title{
    display:none;
  }

  #head-title{
    text-align: justify;
    color: $dark-text;
    font-family: 'Merriweather';
    font-size: 65px;
    padding-top: 10px;
    line-height: 85px;
    font-weight: bold;
  }

  #head-para{
    font-family: 'Rubik';
    color:white;
    font-size: 36px;
    word-spacing: 3px;
    line-height: 65px;
    text-align:right;
  }

  #head-para-phone{
      display: none;
  }



#body1{
  text-align: center;
  position:relative;
  z-index: 1;
  background-color: white;
}

#lic{
  font-family: 'Roboto';
  color:$back;
  font-weight: bold;
  padding-top: 7%;
}

#medal{
  height:160px;
  margin: 30px auto auto;
}

#intro{
  margin:30px 370px 50px;
  text-align:justify;
  font-family: 'Merriweather';
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
}

.my-hr{
  margin-top:100px;
  margin-bottom: 50px;
  text-align: center;
  width:50px;
  color:darkgray;
  border-top: dotted;
  border-top-width: 6px;
}

//Carousel Section

.general-phone{
  display:none;
}

// Certificates

.general-laptop{
padding-top:30px;
}

.general-para{
display: inline-block;
font-family: $wrap-text;
color:white;
font-size:45px;
position:relative;
top:10px;
}
.general-head{
margin-top: 30px;
font-family: $wrap-text;
font-weight: bold;
font-size: 27px;
color:white;
}


#only-phone{
  display: none;
}

// Contact Section

#contact{
    text-align:center;
    margin-top: 100px;
}

#end-head{
  font-size: 46px;
  word-spacing: 8px;
  font-family: 'Roboto';
  font-weight: bold;
  color:$back;
}

#end-para{
  margin:30px 370px 50px;
  text-align:center;
  font-family: 'Merriweather';
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  word-spacing: 3px;
}
.btn{
  padding:10px 20px 10px;
  font-family: 'Merriweather';
  font-size:18px;
  background-color:$back;
}

.btn:hover{
  background-color: $dark-text;
}

#footer{
  margin-top:60px;
  background-color:$back;
  text-align:center;
  height:110px;
  padding-top:30px;
  padding-bottom: 0px;
}

#email{
  text-decoration:underline;
  color:$dark-text;
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

#copyright{
  font-family:'Merriweather', serif ;
  font-size:13px;
  color:white;
  margin-bottom:-10px;
}

}

/*---------Mobile Responsive----------*/

@media screen and (max-width:499px){

  .navbar{
    height:80px;
    background-color: $back;
  }

  .nav-item{
  text-align: right;
  padding-right:10px;
  background-color: rgba(30, 179, 174,0.2);
}

  .nav-link,.navbar-brand{
    color:white;
    font-weight: bold;
    font-size: 16px;
    font-family: $wrap-text;
  }

  .nav-link:hover{
    color:$dark-text;
  }

  .navbar-brand{
    font-size: 32px;
    margin-left: 10px;
    margin-right:0;
  }

  .container-fluid{
  display:none;
}

  h5{
    font-size: 13px;
    font-family: $wrap-text;
    margin-top:30px;
    margin-bottom: 20px;
    color:white;
  }

  #head{
      background-color:$header-color ;
      height:500px;
    }

#phone-head{
  text-align: center;
}

#phone-title{
  text-align: center;
  color: $dark-text;
  font-family: 'Rubik';
  font-size: 44px;
  margin-top:0px;
  padding-top:60px;
}

#head-para-phone{
  font-family:"Rubik";
  font-size: 28px;
  font-weight: bold;
  padding: 10px 20px 20px;
  line-height: 40px;
  color:white;
}

#cartoon-phone{
  height:300px;
  margin-top: 0px;
}

#body1{
  text-align: center;
  margin-top: -200px;
  position: relative;
  z-index: 1;
  background-color: white;
}

#lic{
  font-family: 'Roboto';
  color:$back;
  font-weight: bold;
  margin-top:270px;
  padding-top: 7%;
}

#medal{
  height:130px;
  margin: 30px auto auto;
}

#intro{
  margin:30px 30px 50px;
  text-align:justify;
  font-family: $wrap-text;
  font-size: 12px;
  line-height: 23px;
  font-weight: 700;
}

.my-hr{
  margin-top:30px;
  margin-bottom: 50px;
  text-align: center;
  width:50px;
  color:darkgray;
  border-top: dotted;
  border-top-width: 6px;
}

// Carousel Styling

.carousel-item{
  background-color: $header-color;
}

#mchgn{
  height:75px;
}

#google{
  height:40px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 10px;
}

#intern{
  margin-top: 20px;
  height:50px;
  margin-right:10px;
}

  .general-para{
    display: inline-block;
    font-family: $wrap-text;
    color:white;
    font-size:34px;
    margin-bottom:24px;
  }

  .general-head{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    font-family: $wrap-text;
    font-weight: bold;
    font-size: 22px;
    color:white;
    line-height:33px;
  }

.general-laptop{
  display:none;
}

// Contact Styling

#contact{
    text-align:center;
    margin-top: 70px;
}

#end-head{
  margin:auto 20px auto;
  font-size: 40px;
  word-spacing: 8px;
  font-family: 'Roboto';
  font-weight: bold;
  color:$back;
}

#end-br{
  display: none;
}

#end-para{
  margin: 30px 30px 40px;
  text-align:center;
  font-family: $wrap-text;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  word-spacing: 3px;
}

.btn{
  padding:10px 20px 10px;
  font-family: $wrap-text;
  font-size:18px;
  background-color:$back;
}

.btn:hover{
  background-color: $dark-text;
}

#footer{
  margin-top:60px;
  background-color:$back;
  text-align:center;
  height:80px;
  padding-top:20px;
  padding-bottom: 0px;
}

#email{
  text-decoration:underline;
  color:$dark-text;
  font-family: $wrap-text, serif;
  font-size: 17px;
}

#copyright{
  font-family:$wrap-text, serif ;
  font-size:13px;
  color:white;
}

}
